.App {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    gap: 1.5rem;
} 

body {
   background-color: rgb(1, 143, 226);
}

.Card_form {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.Card {
    margin: auto;
    width: 100%;
    max-width: 350px;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgb(11, 190, 234);
    overflow: hidden;
    transition: transform 200ms ease;
}

.Card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.Card_img {
    border-radius: 10px;
}

.Card_name {
    color: aliceblue;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 20px;
}

.Card_cities {
    display: flex;
    gap: 8px;
    padding-bottom: 30px; 
    color: rgb(0, 0, 0);
}

.Card_list {
    margin-top: auto;
    justify-content: center;
    padding: 0.3rem;
}

.Card_img {
    margin-top: 10%;
    outline: auto;
}

#button {
    width: 600vh;
    outline: auto;
}